@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@theme {
	--font-sixtyfour: "Sixtyfour", sans-serif;
  	--font-bitcount: "Bitcount Ink", sans-serif;
  	--font-goldman: "Goldman", helvetica;
	--font-aldrich: "Aldrich";
	--font-pressstart: "Press Start 2P";
	--gradient-dark: rgb(14, 12, 23);
	--gradient-light: rgb(30, 25, 47);
}

@view-transition {
	navigation: auto;
	types: slide;
}

::view-transition-group(*) {
	animation-duration: 3s;
}

@layer components {
	.credit-icon {
		margin: 0 4px;
		height: 12rem;
		width: 8rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: between;
		color: var(--color-neutral-200);
		border-radius: 0.5rem;
		background-size: cover;
		box-shadow: var(--shadow-md);
		transition: box-shadow 0.2s, transform 0.2s, border 0.2s;
  }

	.credit-icon:hover {
		box-shadow: var(--shadow-lg);
		transform: translateY(-10%);
		border: 2px solid white;
  }

	.marquee-item {
		margin: 0 4px;
		flex: auto;
		align-items: center;
		justify-content: center;
		background-repeat:no-repeat;
		background-size:cover;
  }

	.arcadeform {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 1rem;
		font-family: var(--font-pressstart);
		border: 2px solid transparent;
		border-radius: var(--radius-sm);
		background-color: var(--color-neutral-900);
  }

	.arcadeform:focus {
		border-color: var(--color-neutral-200);
		box-shadow: 0 0 0 4px rgba(200,200,220,0.06);
		outline: none;
	}

	.customButton {
		display: inline-block;
		position: relative; 
		box-sizing: border-box;
		padding:1rem;
		background-color: var(--color-neutral-600);
		color: var(--color-neutral-100);
		text-align: center;
		font-family: var(--font-pressstart);
		font-size: var(--size-lg);
		border: 2px solid transparent;
		border-radius: var(--radius-md);
  		will-change: transform;
		transition: transform 200ms ease, box-shadow 200ms ease;
  		transform-origin: center;
	}

	.customButton:hover {
		z-index: 10;
		transform: scale(1.05);
		background-color: var(--color-neutral-800);
		border-color: var(--color-neutral-100);
		outline: none;
	}
}


img {
	filter: brightness(0) saturate(100%) invert(94%) sepia(11%) saturate(152%) hue-rotate(176deg) brightness(99%) contrast(90%);
}

/*********************
* ANIMATIONS
*********************/

@keyframes diagonal {
	from {
		background-position:0% 0%;
	}

	to {
		background-position:500px 500px;
	}
}

.animate-diagonal {
	animation: diagonal 10s linear infinite;
}


@keyframes slideintop {
	from {
		transform: translateY(-300%);
	}
	to {
		transform: translateY(0);
	}
}

.animate-slideintop {
	animation: slideintop 3s ease-out;
}

@keyframes vanish {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0;
	}
}

.animate-vanish {
	animation: vanish 1s linear forwards;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}

.animate-appear {
	animation: appear 1s linear forwards;
}

@keyframes sidebounce {
	from {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.animate-sidebounce {
	animation: sidebounce 1s ease-out infinite;
}